# dependencies
*/node_modules/
api/node_modules/
client/.pnp
client/.pnp.js

# production
client/build
docker/production/.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

client/npm-debug.log*
cient/yarn-debug.log*
client/yarn-error.log*

# env variables
api/.env

# mail keys
api/key.json

# Cotnainer-specific
docker/*/sql/
node_modules
