packages:
    yum:
        gcc-c++: []
        make: []
container_commands:
    01 get node repo: 
        command: curl -sL https://rpm.nodesource.com/setup_12.x | sudo -E bash -
    02 install node: 
        command: yum install -y nodejs
    03 install dependencies:
        command: sudo npm install
        cwd: /var/app/staging/frontend
    04 build:
        command: sudo npm run build
        cwd: /var/app/staging/frontend
    05 move artifacts:
        command: sudo cp -r /var/app/staging/frontend/build/*  /var/app/staging/public
