container_commands:
    01 add node to path: 
        command: "PATH=$PATH:`ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin"
    02 install dependencies:
        command: "npm i"
        cwd: "/tmp/deployment/application/frontend"
    03 build:
        command: "npm build"
        cwd: "/tmp/deployment/application/frontend"
    04 move artifacts:
        command: "cp  /tmp/deployment/application/frontend/build/*  /tmp/deployment/application/public"
