container_commands:
    01 get nvm install script: 
        command: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
        leader_only: true
    02 execute nvm script: 
        command: source ~/.nvm/nvm.sh
        leader_only: true
    03 install node: 
        command: nvm install node
        leader_only: true
    04 install dependencies:
        command: npm install
        cwd: /tmp/deployment/application/frontend
        leader_only: true
    05 build:
        command: npm build
        cwd: /tmp/deployment/application/frontend
        leader_only: true
    06 move artifacts:
        command: cp  /tmp/deployment/application/frontend/build/*  /tmp/deployment/application/public
        leader_only: true
