body {
	/* background-color: #FF0000; */
	background-color: #383c3c; 
	/* background-image: url("../assets/gilbert.svg"); */
	background-size: 100%;
	background-repeat: repeat-y;

	image-rendering: crisp-edges;
	/* background-color: #333; */
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	/* color: #fff; */
}

.dev-warning {
	position: absolute;
	left: 0px;
	width: 100%;
	/* height: 100px; */
	background-color: red;
}

/* Logo area */
header {
	width: 100%;
	background-color: #383c3c;
}

#logo {
	max-width: 40em;
	display:block;
    margin:auto auto 100px auto;
}

/* Navbar */
nav {
	width: 100%;
	background-color: #383c3c;
	display: flex;
	justify-content: center;
	z-index: 10;
}

nav>ul {
	/*width: 50%;*/
	display: block;
	margin: 0px;
	padding: 20px;
	list-style: none;
}

nav>ul>li {
	display: inline;
	font-size: 20px;
}

nav>ul>li>a:hover {
	background-color:rgba(255, 255, 255, 0.1);
}

nav>ul>li>a {
	position: relative;
	padding: 20px;
	color: white;
	text-decoration: none;
}

nav>ul>li>a:after {
	content: '';
	position:absolute;
	bottom:12px;
	left: 30%;
	right: 30%;
	height: 2px;
	background:#e20682;
	display:block;
}

nav:after {
	height: 100px;
}

/* Content */

/* Style the header */
h1 {
	position: relative;
	display:inline-block; 
	font-size: 25px;

}
h1:after {
	content: '';
	position:absolute;
	bottom:-2px;
	left: 10%;
	right: 10%;
	height: 2px;
	background:#e20682;
	display:block;
}

/* Style the sections */
section {
	padding: 0;
    margin: 0;
    text-align: center;   
}

.section-inner {
	max-width: 960px;
}

/* This container limits the width of the site */
#content {
	margin: 0px auto 0 auto;
	z-index: -1;

}

/* The light elements */
#content>section:nth-child(even) {
	background-color: white;
	z-index: 1;
	
	transform: skew(0deg, -4deg);
	color: #000;
	margin: 0px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#content>section:nth-child(even)>.section-inner {
	transform: skew(0deg, 4deg);
	margin: auto;
	padding: 70px;
}
/* style the links properly */
#content>section:nth-child(even)>.section-inner>p>a {
	color: #000;
}

/* The dark elements */
#content>section:nth-child(odd) {
	color: #fff;
}

#content>section:nth-child(odd)>.section-inner{
	background-color: #383c3c;
	margin: -100px auto -100px auto;
	padding: 20px 20px 250px 20px;
}

/* style the links properly */
#content>section:nth-child(odd)>.section-inner>p>a {
	color: white;
}

/* media query to avoid ugly screen when you get a bit of the background */
@media only screen and (min-width: 1050px) {
	#content>section:nth-child(odd)>.section-inner{
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}


/* Hack the bottom container to better align with the skewed thing */
#about {
	min-height: 300px;
}

.signup-container {
	display: flex;
	justify-content: center;
}
.signup-part {
	display: inline-block;
	margin: 40px;
}

/* Style the sponsors */

.sponsor-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.sponsor-main {
	height: 250px;
	margin: 5px;
}
.sponsor-medium {
	height: 170px;
	margin: 5px;
}
.sponsor-small {
	height: 120px;
	margin: 5px;
}

/* Style the schedule */
.schedule-time {
	font-weight: bold;
}

td {
	vertical-align: top;
	padding: 5px 0px 50px 0px;
}

table {
	width: 100%;
}

.signup-table>tbody>tr>td>ul {
	list-style: none;
	padding: 0px;
}

/* Style the signup part */

.signup-table {
	text-align: center;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	background-color: #5CBF60; /* Green */
}

.signup-part>ul {

	list-style: none;
}

/* Footer */
footer {
	text-align: center;
	/*background-color: #383c3c;*/
	color: #fff;
	margin: 70px 0px 0px 0px;
}
footer>p {
	
}